<article class="panel is-primary">
  <div class="panel-heading"><h1 aria-label="city name">{{cityName}}</h1></div>
    <div class="panel-block">
      @defer {

        <app-l-map
                   [zoom]="13"
                   [lat]="cityCoords().latitude"
                   [long]="cityCoords().longitude"/>


      } @loading(minimum 1s) {
        <div class="panel-block">
          <div class="panel-block is-justify-content-center">
            <div class="loader is-loading is-size-1"></div>
          </div>
        </div>
      }
    </div>
    <div class="panel-block">
        <div class="columns">
            <div class="column">
                <div class="field has-addons" id="degree-controls">
                    <p class="control">
                        <a class="button" [class.is-info]="degree === 'C'" (click)="updateTemperatureUnite('C')">C°</a>
                    </p>
                    <p class="control">
                        <a class="button" [class.is-info]="degree === 'F'" (click)="updateTemperatureUnite('F')">F°</a>
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="field has-addons" id="mode-controls">
                    <p class="control">
                        <a class="button" [class.is-info]="mode === 'daily'" (click)="updateMode('daily')">Daily</a>
                    </p>
                    <p class="control">
                        <a class="button" [class.is-info]="mode === 'hourly'" (click)="updateMode('hourly')">Hourly</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
  @if (loading) {
    <div class="panel-block">
      <div class="panel-block is-justify-content-center">
          <div class="loader is-loading is-size-1"></div>
      </div>
    </div>
  } @else if (mode === 'daily') {
    <div class="panel-block" >
      <table id="daily-weather" class="table is-bordered">
          <tr>
              <th>Date</th>
              <th>Weather</th>
              <th>Max</th>
              <th>Min</th>
          </tr>
        @for(weather of dailyWeather(); track weather.day) {
          <tr>
            <td>{{weather.day}}</td>
            <td><img [src]="'https://ssl.gstatic.com/onebox/weather/48/'+weather.weather+'.png'"
                     [alt]="weather.weather"></td>
            <td>{{weather.temperatureMax | degree: degree}}</td>
            <td>{{weather.temperatureMin | degree: degree}}</td>
          </tr>
        }
      </table>
    </div>

  } @else if (mode === 'hourly') {
    <div class="panel-block">
      <table id="hourly-weather" class="table is-bordered">
        <tr>
          <th>Time</th>
          <th>Weather</th>
          <th>Temperature</th>
        </tr>
        @for(weather of hourlyWeather(); track weather.time) {
          <tr>
            <td>{{weather.time}}</td>
            <td><img [src]="'https://ssl.gstatic.com/onebox/weather/48/'+weather.weather+'.png'"
                     [alt]="weather.weather" fill></td>
            <td>{{weather.temperature | degree: degree}}</td>
          </tr>
        }
      </table>
    </div>
  }
  <div class="panel-block">
      <a routerLink="/" class="button is-rounded">
          Go back home
      </a>
  </div>
</article>
